<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Criar novo Curso</title>
    <link rel="stylesheet" th:href="@{/css/styleForms.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }
    </style>
</head>
<body style="background: url('../img/Blurred background.png') no-repeat center/cover;">

<header sec:authorize="hasAuthority('Administrador')" >
    <div>
        <a th:href="@{/admin/cursos}"><img class="logo" style="width:60%;display:block;" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <h2><a th:href="@{/admin/cursos}" >Lista de Cursos</a></h2>
    <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
    <h2><a th:href="@{/admin/users}" >Lista de Usuários</a></h2>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input id="logoffadmin" type="submit" value=" "/></form>
    </div>
</header>


<form action="#" th:action="@{/admin/salvar-curso}" th:object="${Cursos}" method="post" id="curso-form" enctype="multipart/form-data">

    <h2 style="padding-top: 1em;">Formulário de Curso</h2>

    <input type="hidden" form="curso-form" th:field="*{id}" />


    <input type="text" form="curso-form" th:field="*{titulo}" placeholder="TÍTULO DO CURSO" required oninvalid="this.setCustomValidity('Preencha o título do Curso!')" oninput="setCustomValidity('')"/>

    <textarea form="curso-form" th:field="*{descricao}" placeholder="DESCRIÇÃO DO CURSO" rows="4" required oninvalid="this.setCustomValidity('Preencha a descrição do Curso!')" oninput="setCustomValidity('')"></textarea
    >

    <textarea form="curso-form" th:field="*{texto_certificado}" placeholder="TEXTO DO CERTIFICADO DO CURSO" rows="4" required oninvalid="this.setCustomValidity('Preencha o texto que aparecerá no certificado do Curso!')" oninput="setCustomValidity('')"></textarea
    >

    <div style="display: flex;">
        <h2 style="padding-right:1em;padding-left:1em;" >Capa do Curso</h2>
        <h2>Imagem do Certificado</h2>
    </div>
    <div style="display: flex;">
        <input style="margin-right:5px;padding-right:1em;padding-left:1em;background-color:white;" type="file" name="capa_curso" accept="image/*" required oninvalid="this.setCustomValidity('Adicione a capa do Curso!')" oninput="setCustomValidity('')">
        <input style="background-color:white;" type="file" name="fundo_certificado" accept="image/*" required oninvalid="this.setCustomValidity('Adicione o fundo do certificado do Curso!')" oninput="setCustomValidity('')">
    </div>





    <input style="width: 50%;margin: auto;margin-bottom:5em;" class="btn" type="submit" value="Salvar Curso" >

</form>

</body>
</html>