<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edição de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/styleForms.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }
    </style>
</head>
<body>


<header sec:authorize="hasAuthority('Administrador')" style="position:absolute;margin-bottom:-9.9em;">
    <div>
        <a th:href="@{/admin/cursos}"><img class="logo" style="width:60%;display:block;" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <h2><a th:href="@{/admin/cursos}" >Lista de Cursos</a></h2>
    <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
    <h2><a th:href="@{/admin/users}" >Lista de Usuários</a></h2>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input id="logoffadmin" type="submit" value=" "/></form>
    </div>
</header>

<div class="container">
    <div class="content">




<form id="formLogin" th:action="@{/salvar-edicao-usuario}" th:object="${Usuario}" method="post">
    <h2>Editar Usuário</h2>
    <div th:if="${param.emailinvalido}">
        Email já cadastrado na plataforma!
        <br><br><br>
    </div>
    <select th:field="*{fk_funcao}" class="btn btn-white">
        <option th:each="funcao : ${listaFuncoes}" th:value="${funcao.id}"><p th:text="${funcao.nome}"></p></option>
    </select>


    <input type="hidden" th:field="*{id}"/>
    <input type="email" id="inputEmail" placeholder="EMAIL" th:field="*{email}"/>
    <input type="text" id="inputNome" placeholder="USERNAME" th:field="*{username}"/>
    <input type="password" id="inputPassword" placeholder="SENHA" th:field="*{senha}"/>


    <button type="submit" class="btn" id="btnLogin">Atualizar Perfil</button>
</form>
    </div>
    <div class="hero"></div>
</div>
</div>
</body>
</html>