<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cursos da Plataforma</title>
    <link rel="stylesheet" th:href="@{/css/styleListas.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }
    </style>
</head>
<body>

<header sec:authorize="hasAuthority('Administrador')">
    <div>
        <a th:href="@{/admin/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <h2><a th:href="@{/admin/novo-curso}">Adicionar novo curso</a></h2>
    <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
    <h2><a th:href="@{/admin/users}" >Lista de Usuários</a></h2>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
    </div>
</header>

<br><br><br>

<div class="titulo"><h1>Listagem de Cursos</h1></div>

<div class="mensagem">
<div th:if="${param.save}">
    <br>
    <br>
    Curso salvo com sucesso!
    <br>
    <br>
    <br>
    <br>
</div>
<div th:if="${param.delete}">
    <br>
    <br>
    Curso deletado com sucesso!
    <br>
    <br>
    <br>
    <br>
</div>
<div th:if="${param.saveerror}">
    <br>
    <br>
    Houve algum problema, não foi possível salvar Curso!
    <br>
    <br>
    <br>
    <br>
</div>
<div th:if="${param.deleteerror}">
    <br>
    <br>
    Houve algum problema, não foi possível deletar Curso!
    <br>
    <br>
    <br>
    <br>
</div>
</div>

<table>
    <thead>
    <tr>
        <th style="width:1000px;">Curso</th>
        <th style="padding-left:0.5em;padding-right:0.5em;">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curso : ${listaCursos}">

        <td ><a th:text="${curso.titulo}"  th:href="@{'/cursos/' + ${curso.id}}">titulo</a></td>
        <td><a th:href="@{'/admin/editar-curso/' + ${curso.id}}"><img style="width:20px; padding-right:0.25em;" src="/img/pen-to-square-solid.svg"></a><a th:href="@{'/admin/deletar-curso/' + ${curso.id}}" onclick="return confirm('Tem certeza que deseja deletar esse Curso?')"><img style="width:20px;" src="/img/trash-can-solid.svg"></a></td>

    </tr>
    </tbody>
</table>


</body>
</html>