<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários da Plataforma</title>
    <link rel="stylesheet" th:href="@{/css/styleListas.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }
    </style>
</head>
<body>

<header sec:authorize="hasAuthority('Administrador')">
    <div>
        <a th:href="@{/admin/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <h2><a th:href="@{'/admin/novo-usuario'}">Adicionar novo usuario</a></h2>
    <h2><a th:href="@{/admin/cursos}" >Lista de Cursos</a></h2>
    <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
    </div>
</header>

<br><br><br>
<div class="titulo"><h1>Listagem de Usuários</h1></div>

<div class="mensagem">
<div th:if="${param.save}">
    <br>
    <br>
    Usuário salvo com sucesso!
    <br>
    <br>
    <br>
    <br>
</div>
<div th:if="${param.delete}">
    <br>
    <br>
    Usuário deletado com sucesso!
    <br>
    <br>
    <br>
    <br>
</div>
<div th:if="${param.saveerror}">
    <br>
    <br>
    Houve algum problema, não foi possível salvar Usuário!
    <br>
    <br>
    <br>
    <br>
</div>
<div th:if="${param.deleteerror}">
    <br>
    <br>
    Houve algum problema, não foi possível deletar Usuário!
    <br>
    <br>
    <br>
    <br>
</div>
</div>


<table>
    <thead>
    <tr >
        <th style="width:333px;">Username</th>
        <th style="width:333px;">Email</th>
        <th style="width:333px;">Função</th>
        <th style="padding-left:0.5em;padding-right:0.5em;">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${listaUsuarios}">
        <div th:if="${#request.userPrincipal.principal.id} != ${user.id}">
            <td th:text="${user.username}">username</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.fk_funcao.nome}">funcao</td>
            <td><a th:href="@{'/admin/users/' + ${user.id}}"><img style="width:20px; padding-right:0.25em;" src="/img/pen-to-square-solid.svg"></a><a th:href="@{'/admin/deletar-usuario/' + ${user.id}}" onclick="return confirm('Tem certeza que deseja deletar esse Usuário?')"><img style="width:20px;" src="/img/trash-can-solid.svg"></a></td>
        </div>
    </tr>
    </tbody>
</table>


</body>
</html>