<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrar novo Usuário</title>
</head>
<body>

<br>
<hr>
<br>
NAVBAR \/
<br>
<div sec:authorize="hasAuthority('Administrador')">
  <div class="navbar-admin">
    <a th:href="@{/admin/cursos}" >Lista de Cursos</a>
    <a th:href="@{/admin/aulas}" >Lista de Aulas</a>
    <a th:href="@{/admin/users}" >Lista de Usuários</a>

    <a th:href="@{/perfil}">[[${#request.userPrincipal.principal.username}]]</a>

    <form th:action="@{/logout}" method="post"><input type="submit" value="Sair da Plataforma" /></form>
  </div>
</div>
<br>
NAVBAR /\
<br>
<hr>
<br>

<form th:action="@{/editar-registro}" th:object="${Usuario}" method="post">
  EMAIL = <input type="email" th:field="*{email}" required oninvalid="this.setCustomValidity('Preencha o campo de Email!')" oninput="setCustomValidity('')" />
  SENHA = <input type="password" th:field="*{senha}" required oninvalid="this.setCustomValidity('Preencha o campo de Senha!')" oninput="setCustomValidity('')" />
  USERNAME = <input type="text" th:field="*{username}" required oninvalid="this.setCustomValidity('Preencha o campo de Username!')" oninput="setCustomValidity('')"/>

  <select th:field="*{fk_funcao}">
    <option th:each="funcao : ${listaFuncoes}" th:value="${funcao.id}"><p th:text="${funcao.nome}"></p></option>
  </select>

  <button type="submit" >Registrar Usuário</button>
</form>

</body>
</html>