<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edite seu Perfil</title>
    <link rel="stylesheet" th:href="@{/css/styleForms.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }
    </style>

</head>
<body>


<div th:if="${#httpServletRequest.requestURI} == '/editar-perfil/' + ${#request.userPrincipal.principal.id}">

        <header sec:authorize="hasAuthority('Administrador')" style="position:absolute;margin-bottom:-9.9em;">
            <div>
                <a th:href="@{/admin/cursos}"><img class="logo" style="width:60%;display:block;" src="/img/Ecode logo.png" alt="Ecode"></a>
            </div>
            <h2><a th:href="@{/admin/cursos}" >Lista de Cursos</a></h2>
            <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
            <h2><a th:href="@{/admin/users}" >Lista de Usuários</a></h2>
            <div style="display:flex;">
                <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
                <form th:action="@{/logout}" method="post"><input id="logoffadmin" type="submit" value=" "/></form>
            </div>
        </header>

        <header sec:authorize="hasAuthority('Aluno')" style="position:absolute;margin-bottom:-9.9em;">
            <div>
                <a th:href="@{/aluno/cursos}"><img class="logo" style="width:60%;display:block;"  src="/img/Ecode logo.png" alt="Ecode"></a>
            </div>
            <h2><a th:href="@{/aluno/cursos}" >Lista de Cursos</a></h2>
            <div style="display:flex;">
                <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
                <form th:action="@{/logout}" method="post"><input id="logoffaluno" type="submit" value=" "/></form>
            </div>
        </header>
    <div class="container">
        <div class="content">




<form id="formLogin" th:action="@{/salvar-edicao}" th:object="${Usuario}" method="post">
    <h2>Editar Seu Perfil</h2>

    <div th:if="${param.emailinvalido}">
        Email já cadastrado na plataforma!
        <br><br><br>
    </div>

    <input type="hidden" th:field="*{id}"/>

    <input type="email" id="inputEmail" th:field="*{email}" required oninvalid="this.setCustomValidity('Preencha o campo de Email!')" oninput="setCustomValidity('')" />
    <input type="text" id="inputNome" th:field="*{username}" required oninvalid="this.setCustomValidity('Preencha o campo de Username!')" oninput="setCustomValidity('')"/>
    <input type="password" id="inputPassword" placeholder="SENHA" th:field="*{senha}" required oninvalid="this.setCustomValidity('Preencha o campo de Senha!')" oninput="setCustomValidity('')"/>

    <div class="buttonWrapper">
        <button class="btn" id="btnLogin" type="submit">Atualizar Perfil</button>
    </div>
</form>

    </div>
    <div class="hero"></div>
    </div>
</div>

</body>
</html>