<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registre-se</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="content">
        <header>
            <div id="logo">
                <a th:href="@{/}"><img src="/img/Ecode logo.png" alt="Ecode"></a>
            </div>
        </header>


        <form id="formLogin" th:action="@{/salvar-registro}" th:object="${Usuario}" method="post">
            <h2>Crie sua Conta</h2>
            <br>
            <p style="padding-bottom:2em;">Já possui uma conta?<span>   <a th:href="@{/login}">Login</a></span></p>

            <div th:if="${param.emailinvalido}">
                Email já cadastrado na plataforma!
                <br><br><br>
            </div>

            <input type="email" id="inputEmail" placeholder="EMAIL" th:field="*{email}" required oninvalid="this.setCustomValidity('Preencha o campo de Email!')" oninput="setCustomValidity('')" />
            <input type="text" id="inputNome" placeholder="USERNAME" th:field="*{username}" required oninvalid="this.setCustomValidity('Preencha o campo de Username!')" oninput="setCustomValidity('')"/>
            <input type="password" id="inputPassword" placeholder="SENHA" th:field="*{senha}" required oninvalid="this.setCustomValidity('Preencha o campo de Senha!')" oninput="setCustomValidity('')"/>


            <div class="buttonWrapper">
                <button type="submit" id="btnLogin" class="btn" >Se registrar</button>
            </div>

        </form>
    </div>
    <div class="hero"></div>
</div>

</body>
</html>