<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styleListaAluno.css}">
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <style>
        a {
          color: black;
          text-decoration: none;
        }

    </style>
</head>
<body>

<header sec:authorize="hasAuthority('Aluno')" style="padding-bottom:5em;">

    <div>
        <a th:href="@{/aluno/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1.5em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
    </div>
</header>
<div style="display: flex;">
<div th:if="${vazio == 1}">
    <h2>Não há nenhum curso cadastrado na plataforma! Aguarde algum responsável adicionar um curso!</h2>
</div>

<div th:if="${vazio == 0}" style="margin:auto; display: flex;align-content: center;text-align: center;">
    <div class="row">
<div class="col-md-4" th:each="curso : ${listaCursos}" style="max-width:none !important;padding-right:5em;padding-left:5em;padding-bottom:2em;">
    <img th:src="@{${curso.path_capa}}" width="250">
    <h2 th:text="${curso.titulo}" >Título</h2>
    <a th:href="@{'/cursos/' + ${curso.id}}" style="background-color: white;border: 2px solid black;color: black;border-radius: 16px;font-weight: bold;padding: 5px;">Entrar no Curso</a>
</div>
    </div>
</div>
</div>

</body>
</html>