<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Aula</title>
  <link rel="stylesheet" th:href="@{/css/styleSingle.css}">
  <style>
        a {
          color: black;
          text-decoration: none;
        }

    </style>
</head>
<body style="text-align: center;">
<!-- -->
<header sec:authorize="hasAuthority('Administrador')">
  <div>
    <a th:href="@{/admin/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
  </div>
  <h2><a th:href="@{/admin/cursos}" >Lista de Cursos</a></h2>
  <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
  <h2><a th:href="@{/admin/users}" >Lista de Usuários</a></h2>
  <div style="display:flex;">
    <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
    <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
  </div>
</header>

<header sec:authorize="hasAuthority('Aluno')">
  <div>
    <a th:href="@{/aluno/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
  </div>
  <div style="margin-top: 2em;" th:each="aula : ${Aula}"><h2><a th:href="@{'/cursos/' + ${aula.fk_curso.id}}">Voltar ao Curso</a></h2></div>
  <h2><a th:href="@{/aluno/cursos}" >Lista de Cursos</a></h2>
  <div style="display:flex;">
    <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
    <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
  </div>
</header>
<!-- -->

<div th:each="aula : ${Aula}">
  <div>

    <h1 style="margin-bottom: 2em;" th:text="${aula.titulo}" >Título</h1>
    <div style="display: flex;margin: auto;">
      <video controls style="width: 600px;margin-left: 35%;">
        <source th:src="@{${aula.path_video}}" type="video/webm">
        Seu navegador não suporta esse tipo de vídeo.
      </video>
    </div>

    <div>
      <h3 style="width: 50%;margin-left: 25%;" th:text="${aula.descricao}" >Descrição</h3>
    </div>

  </div>
</div>

<hr>
<br>
<h2>Aulas do Curso:</h2>
<div th:each="aula : ${AulasConectadas}" style="margin-bottom: 1em;">
  <h3><a th:href="@{'/cursos/' + ${aula.fk_curso.id} + '/' + ${aula.id}}" th:text="${aula.titulo}" >Título</a></h3>
</div>

</body>
</html>