<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
</head>
<body>

<br>
<hr>
<br>
NAVBAR \/
<br>
<div sec:authorize="hasAuthority('Aluno')">
    <div class="navbar-aluno">
        <a th:href="@{/aluno/cursos}" >Lista de Cursos</a>
        <a th:href="@{/perfil}" >Certificados</a>

        <a th:href="@{/perfil}">[[${#request.userPrincipal.principal.username}]]</a>

        <form th:action="@{/logout}" method="post"><input type="submit" value="Sair da Plataforma" /></form>
    </div>
</div>
<div sec:authorize="hasAuthority('Administrador')">
    <div class="navbar-admin">
        <a th:href="@{/admin/cursos}" >Lista de Cursos</a>
        <a th:href="@{/admin/aulas}" >Lista de Aulas</a>
        <a th:href="@{/admin/users}" >Lista de Usuários</a>

        <a th:href="@{/perfil}">[[${#request.userPrincipal.principal.username}]]</a>

        <form th:action="@{/logout}" method="post"><input type="submit" value="Sair da Plataforma" /></form>
    </div>
</div>
<br>
NAVBAR /\
<br>
<hr>
<br>

<div sec:authorize="hasAuthority('Aluno')">
    <div th:each="uc : ${UsuarioCurso}"><p><span th:text="${uc}"></span>% do curso concluído!</p></div>

    <div th:if="${UsuarioCurso == 100}">
        <script>
            alert("Parabéns! Você concluiu o curso! Vá até seu perfil para poder gerar seu certificado!");
        </script>
    </div>
</div>

<div th:each="curso : ${Curso}">
    <div>
        <img th:src="@{${curso.path_capa}}">
        <h5 th:text="${curso.titulo}" >Título</h5>
        <p th:text="${curso.descricao}" >Descrição</p>
    </div>
</div>

<div th:if="${vazio == 1}">
    Não há nenhuma aula cadastrada nesse curso! Em breve serão cadastradas!
</div>
<div th:if="${vazio == 0}">
LISTA DE AULAS DO CURSO

<br>
<div th:each="aula : ${AulasConectadas}">
    <a th:href="@{'/cursos/' + ${aula.fk_curso.id} + '/' + ${aula.id}}" th:text="${aula.titulo}" >Título</a><br>
</div>
</div>


</body>
</html>