<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
    <link rel="stylesheet" th:href="@{/css/styleSingle.css}">
    <style>
        a {
          color: black;
          text-decoration: none;
        }

    </style>
</head>
<body style="text-align: center;">
<!-- -->
<header sec:authorize="hasAuthority('Administrador')">
    <div>
        <a th:href="@{/admin/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <h2><a th:href="@{/admin/cursos}" >Lista de Cursos</a></h2>
    <h2><a th:href="@{/admin/aulas}" >Lista de Aulas</a></h2>
    <h2><a th:href="@{/admin/users}" >Lista de Usuários</a></h2>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
    </div>
</header>

<header sec:authorize="hasAuthority('Aluno')">
    <div>
        <a th:href="@{/aluno/cursos}"><img class="logo" src="/img/Ecode logo.png" alt="Ecode"></a>
    </div>
    <h2><a th:href="@{/aluno/cursos}" >Lista de Cursos</a></h2>
    <div style="display:flex;">
        <a th:href="@{/perfil}" style="padding-right:1em;padding-top:1em;"><img style="width:38px;padding-top:1.5em;" class="logo" src="/img/Profile icon.png"></a>
        <form th:action="@{/logout}" method="post"><input type="submit" value=" " style="margin-right: 2em;"/></form>
    </div>
</header>
<div sec:authorize="hasAuthority('Aluno')">
    <div th:if="${UsuarioCurso == 100}">
        <script>
            alert("Parabéns! Você concluiu o curso! Vá até seu perfil para poder gerar seu certificado!");
        </script>
    </div>
</div>
<!-- -->


<div th:each="curso : ${Curso}">

    <h1 style="margin-bottom: 2em;" th:text="${curso.titulo}" >Título</h1>

    <div style="display: flex;margin: auto;">
    <img th:src="@{${curso.path_capa}}" style="width: 200px;margin-left: 45%;">
    </div>


    <div>
        <h3 style="width: 50%;margin-left: 25%;" th:text="${curso.descricao}" >Descrição</h3>
    </div>


</div>
<div>
<div th:if="${vazio == 1}">
    <h2>Não há nenhuma aula cadastrada nesse curso! Em breve serão cadastradas!</h2>
</div>
<div th:if="${vazio == 0}">

    <hr>
    <br>
    <h2>Aulas do Curso:</h2>
    <div th:each="aula : ${AulasConectadas}" style="margin-bottom: 1em;">
        <h3><a th:href="@{'/cursos/' + ${aula.fk_curso.id} + '/' + ${aula.id}}" th:text="${aula.titulo}" >Título</a></h3>
    </div>
</div>
</div>

<div class="wrapper-buttons" sec:authorize="hasAuthority('Aluno')">
    <div th:each="uc : ${UsuarioCurso}"><p class="btn" style="margin-top: -2em;"><span th:text="${uc}"></span>% do curso concluído!</p></div>
</div>

</body>
</html>